.container {
    width: 1040px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: #367591;
    color: rgba(255, 255, 240);
}

a:hover {
    color: #ff0000;
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: #b3b8e6;
}

.simple-linear {
    background: #152744;
}

.main {
    width: 80%;
}

.personal__items {
    margin: 20px 0 20px 0;
}

.personal__item {
    margin: 10px 0 10px 0;
}

.info_about_university {
    display: flex;
    flex-direction: column;
}

.info_about_university a {
    margin: 5px 0 5px 0;
}